.banners {
    height: 3.6rem;
    touch-action: none;
    padding-top: 1rem;
    overflow: hidden;
}

.am-carousel,
.slider-frame,
.slider-list,
.slider-slide,
.banners img {
    height: 100% !important;
}