.cart{
    height: 100vh;
}
.cart .resultsP{
    padding-top: 4rem;
}
.cart .cartL{
    padding-top: 1rem;
    overflow: hidden;
    padding-bottom: 2.25rem;
    background: #fff;
}

.cart .lists {
    width: 100%;
    margin-left: 0.3rem;   
    transition: margin-left 0.4s;
}
.cart .tables{
    width: 8rem; 
    background: #fff;
    overflow: hidden;
    
}
.cart .aa{
    margin-left: -0.79rem;  
    transition: margin-left 0.4s;
}

.cart .tables .tr1 .th1 {
    font: 0.22rem/0.9rem '微软雅黑';
    color: #a8a8a8;
    text-align: left;
}

.cart .tables .tr1 .th1 img {
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.24rem;
}

.cart .tables .tr2 .th1 {
    width: .6rem;
    text-align: left;
}


.cart .tables .tr2 .th1 img {
    width: 0.4rem;
    height: 0.4rem;
    display: block;
    text-align: left;
}

.cart .tables .tr2 .th2 {
    width: 1.7rem;
    text-align: left;
}
.cart .tables .tr2 .th2 img {
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    margin-top: .3rem;
    margin-right: 0;
}

.cart .tables .tr2 .th3 {
    text-align: left;
    width: 2.2rem;
}

.cart .tables .tr2 .th3 .p1 {
    font: 0.24rem/0.64rem '微软雅黑';
    color: #333333;
    margin-bottom: .16rem;
}

.cart .tables .tr2 .th3 em {
    font: 0.22rem/0.50rem '微软雅黑';
    color: #333333;
}


.cart .tables .tr2 .th3 .p2 button {
    width: 0.5rem;
    text-align: center;
    font: 0.18rem/0.42rem '微软雅黑';
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
}

.cart .tables .tr2 .th4 {
    width: 1.85rem;
    font: 0.18rem/1.1rem '微软雅黑';
    text-align: left;
}

.cart .tables .tr2 .th5{
    width: 1rem;
    background: #ff9900;
    color: #fff;
}

.footers {
    position: fixed;
    bottom: 1.2rem;
    left: 0;
    height: 1rem;
    padding-left: 0.3rem;
    background: #fff;
}
.footers .tables{
    width: 100%;
}

.footers .tables .tr .th1 {
    width: .6rem;
    text-align: left;
    padding-right: 0.62rem;
}

.footers .tables .tr .th1 img {
    width: 0.4rem;
    height: 0.4rem;
    display: block;
    text-align: left;
}

.footers .tables .tr .th1 em,
.footers .tables .tr .th2 em {
    display: block;
    color: #666666;
    font: 0.22rem/.42rem '微软雅黑';
}

.footers .tables .tr .th2 img {
    width: 0.4rem;
    height: 0.4rem;
    display: block;
    text-align: left;
}

.footers .tables .tr .th2 em {
    width: 0.64rem;
    text-align: left;
}

.footers .tables .tr .th3 {
    width: 2.1rem;
    padding-right: 1.04rem;
    font: 0.22rem/.32rem '微软雅黑';
}

.footers .tables .tr .th4 button {
    width: 2.08rem;
    background: #ffaa00;
    color: #fff;
    font: 0.32rem/1rem '微软雅黑';
    border: none;
}
