.nav1{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.nav11 li{
    width: 1.5rem;
}
.nav1 li img{
    width: 1.5rem;
    height: 1.5rem;
}
.nav1 li p{
    padding-top: 0.1rem;
    text-align: center;
    color: #666;
    margin-bottom: 0.2rem;
}
