.home {
    width: 100vw;
}

.home .logo {
    background: #fff !important;
    position: fixed;
    top: 0;
    left: 0;
    height: 0.98rem;
    width: 100vw;
    display: flex;
    z-index: 22;
}

.home .logo .search {
    margin-left: 0.18rem;
    flex: 1;
    height: 0.98rem;
}

.home .logo .img {
    margin-left: 0.18rem;
    width: 3.22rem;
    height: 0.98rem;
    display: flex;
    align-items: center;
}

.home .logo .img img {
    width: 3.22rem;
    height: 0.46rem;
    align-items: center;
}
.home .banner{
    margin-top: 0.98rem;
}