.home {
    width: 100%;
}

.home .logo {
    background: #fff !important;
    position: fixed;
    top: 0;
    left: 0;
    height: 0.98rem;
    width: 100%;
    display: flex;
    z-index: 22;
}

.home .logo .search {
    margin-left: 0.18rem;
    flex: 1;
    height: 0.98rem;
}

.home .logo .search input{
    display: block;
    margin: 0.26rem auto;
    font: 0.22rem/0.46rem '微软雅黑';
    width: 1.62rem;
    background: #ccc;
    padding-left: .4rem;
    border-radius: 0.2rem;
}

.home .logo .img {
    margin-left: 0.18rem;
    width: 3.22rem;
    height: 0.98rem;
    display: flex;
    align-items: center;
}

.home .logo .img img {
    width: 3.22rem;
    height: 0.46rem;
    align-items: center;
}

.home .banner{
    overflow: hidden;
}
.home .homeL{
    height: 100%;
    overflow: hidden;
}
