.ulList li{
    display: flex;
    width: 95%;
    padding: 0 0 0.36rem 0.2rem;
    box-sizing: content-box;
    background: #fff;
}
.ulList li img{
    display: block;
    width: 1.76rem;
    height: 1.76rem;
    border: 0.01rem solid;
    border-radius: 0.08rem;
}
.ulList li div{
    margin-left: .3rem;
}
.ulList li div .name{
    font: 0.32rem/0.48rem '微软雅黑';
    color: #333;
}
.ulList li div .plirce{
    margin-top: 0.24rem;
    font: 0.28rem/0.46rem '微软雅黑';
    color: #e23838;
}
.ulList li div span{
    display: block;
    width: 1.68rem !important;
    font: 0.22rem/0.68rem '微软雅黑';
    color: #fff;
    background: #ff9900;
    text-align: center;
    border-radius: .14rem;
}
