.am-result::after {
background-color: #fff !important;
}

.am-result-pic .am-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
}

.am-result .am-result-title {
    color: #888 !important;
}